@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 276 83% 92%;
    --foreground: 276 25% 20%;
    --card: 276 83% 95%;
    --card-foreground: 276 25% 20%;
    --popover: 276 83% 95%;
    --popover-foreground: 276 25% 20%;
    --primary: 276 87% 53%;
    --primary-foreground: 276 83% 98%;
    --secondary: 276 83% 88%;
    --secondary-foreground: 276 87% 53%;
    --muted: 276 83% 88%;
    --muted-foreground: 276 25% 40%;
    --accent: 181 98% 71%;
    --accent-foreground: 181 50% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 276 83% 85%;
    --input: 276 83% 85%;
    --ring: 276 87% 53%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 276 10% 10%;
    --foreground: 276 83% 92%;
    --card: 276 10% 12%;
    --card-foreground: 276 83% 92%;
    --popover: 276 10% 12%;
    --popover-foreground: 276 83% 92%;
    --primary: 276 87% 65%;
    --primary-foreground: 276 10% 10%;
    --secondary: 276 10% 20%;
    --secondary-foreground: 276 87% 65%;
    --muted: 276 10% 20%;
    --muted-foreground: 276 83% 70%;
    --accent: 181 98% 61%;
    --accent-foreground: 181 10% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 276 10% 25%;
    --input: 276 10% 25%;
    --ring: 276 87% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animated-gradient {
    background: linear-gradient(-45deg, hsl(var(--primary)), hsl(var(--background)), hsl(var(--accent)), hsl(var(--primary)));
    background-size: 400% 400%;
    animation: gradient-animation 30s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
